/.quarto/
.Rproj.user
.DS_Store
.Rproj.user/8250C0AB/sources/prop/D2BBF504
.Rproj.user/8250C0AB/sources/prop/INDEX
.Rproj.user/8250C0AB/sources/s-C733EC73/97D79440
.Rproj.user/8250C0AB/sources/s-C733EC73/97D79440-contents
.Rproj.user/8250C0AB/sources/prop/D2BBF504
.Rproj.user/8250C0AB/sources/prop/INDEX
.Rproj.user/8250C0AB/sources/s-C733EC73/97D79440
.Rproj.user/8250C0AB/sources/s-C733EC73/97D79440-contents
.Rproj.user/8250C0AB/sources/prop/D2BBF504
.Rproj.user/8250C0AB/sources/prop/INDEX
.Rproj.user/8250C0AB/sources/s-C733EC73/97D79440
.Rproj.user/8250C0AB/sources/s-C733EC73/97D79440-contents
.Rproj.user/8250C0AB/sources/prop/D2BBF504
.Rproj.user/8250C0AB/sources/prop/INDEX
.Rproj.user/8250C0AB/sources/s-C733EC73/97D79440
.Rproj.user/8250C0AB/sources/s-C733EC73/97D79440-contents
.Rproj.user/8250C0AB/sources/prop/INDEX
